  <ul class="nav nav-pills">
    <li role="presentation">
      <%= link_to "最新動態", feeds_restaurants_path %>
    </li>
    <li role="presentation">
      <%= link_to "首頁", restaurants_path %>
    </li>
    <li role="presentation">
      <%= link_to "Top10", ranking_restaurants_path %>
    </li>
    <li role="presentation", class="<%= "active" %>">
      <%= link_to "美食達人", users_path %>
    </li>
  </ul>
  <br >


<ul>

  <% @users.each do |user| %>
    <div class="col-sm-3 col-xs-4 my-user">
      <img class="my-photo" src="http://via.placeholder.com/100x100">
      <h5 class="my-text text-primary"><%= user.name %></h5>
        <div class="my-btn">
        <%= render partial: "shared/follow", locals: {user: user} %>
        </div>
         <br>
    </div>
  <% end %>

</ul>