
<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= image_tag @user.avatar, width: '90%' %>
    </div>
    <div class="col-xs-8">
      <h2><%= @user.name %></h2>
      <h4><%= @user.intro %></h4>

      <% if @user == current_user %>
        <%= link_to "編輯", edit_user_path(@user), class: "btn btn-primary" %>
      <% else %>
        <% flash[:alert]= "你這偷窺狂想幹嘛 >///<" %>
      <% end %>
    </div>
  </div>
  <hr>
  
  <div class="panel panel-default " >
    <div class="panel-heading">
       <%= "#{@commented_restaurants.count}已評論餐廳" %>
    </div>
    <div class="panel-body">
      
      <% @commented_restaurants.each do |restaurant| %>

        <% if @temp != restaurant %>
        <%= link_to restaurant_path(restaurant) do %>
          <div class="my-restaurant">
            <div>
              <%= image_tag restaurant.image, class: "restaurant-image"  %>
            </div>
            <h5><storng><%= restaurant.name %></storng></h5>
          </div>
        <% end %>
        <% end %>
        <% @temp=restaurant %>
      <% end %>
    </div>
  </div>

</div>
