
<!-- function5-step4 讓餐廳顯示出來 並且名字是一個連結按鈕。之後可以嘗試把整個圖片都變連結 -->
<div class="container">
  <div class="row">
<% @restaurants.each do |restaurant| %>
      <div class="col-sm-6 col-md-4">
        <div class="restaurant-item">
          <%= image_tag restaurant.image, class: "img-responsive center-block" %>
          <div class="caption">
            <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
            <p class="label label-default"><%= restaurant.category.name %></p>
            <p><%= truncate(restaurant.description, length: 80) %></p>
            <%= render partial: "shared/favorite", locals: {restaurant: restaurant} %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

      
  
  <div class="row">
    <div class="text-center">
      <%= paginate @restaurants %>
    </div>
  </div>

  <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 test">
    <div class="test">
    wdhewiudhewdhewydgweydgwejdgwehjedwefwefhwekfhwefhwejfhwkefhwejkfhwekfhwkdgwejhdgwewjfjwefhwefjwejkfwejfjhjgfjwejfnwekfkwewejdwejidjweodjowedjoiwedjoiwejdoiwejfwekfhwekjfhkwejfhwkefjhewgfhwejfgwefwdhewiudhewdhewydgweydgwejdgwehjedwefwefhwekfhwefhwejfhwkefhwejkfhwekfhwkdgwejhdgwewjfjwefhwefjwejkfwejfjhjgfjwejfnwekfkwewejdwejidjweodjowedjoiwedjoiwejdoiwejfwekfhwekjfhkwejfhwkefjhewgfhwejfgwefwdhewiudhewdhewydgweydgwejdgwehjedwefwefhwekfhwefhwejfhwkefhwejkfhwekfhwkdgwejhdgwewjfjwefhwefjwejkfwejfjhjgfjwejfnwekfkwewejdwejidjweodjowedjoiwedjoiwejdoiwejfwekfhwekjfhkwejfhwkefjhewgfhwejfgwef
  </div>
</div>


  </div>
  <!-- 完成前台index頁面 開始做前台restaurants的show功能 回controller restaurants 