
<div class="container">
  <h1>這是後台11</h1>
  <div class="row">
    <div class="col-md-12">
      <div>
      <%= link_to "New restaurant", new_admin_restaurant_path, class: "btn btn-primary" %>
    </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>餐廳分類</th>
        <th>餐廳名</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <th scope="row"><%= restaurant.id %></th>
          <td><%= restaurant.category.name %></td>
          <td><%= restaurant.name %></td>
          <td>
            <%= link_to "Show", admin_restaurant_path(restaurant) %>
            <%= link_to "edit", edit_admin_restaurant_path(restaurant) %>
            <%= link_to "delete", admin_restaurant_path(restaurant),method: :delete, data: {confirm: "Are you sure??"} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= paginate @restaurants %>
  </div>
</div>
</div>
</div>
