<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>餐廳: <%= @restaurant.name %></h2>
      <h4><%= @restaurant.category.name %></h4>
    </div>
    <div class="col-md-4">
      <%= image_tag @restaurant.image, width: '300px' %>
      
      <div class="well">
        <ul class="list-unstyled">
          <li>電話: <%= @restaurant.tel %></li>
          <li>地址: <%= @restaurant.address %></li>
          <li>開店時間: <%= @restaurant.opening_hours %></li>
          
        </ul>
      </div>
    </div>
    
    <div class="col-md-8">
      <br>
      <%= @restaurant.description %>
    </div>
    <div class="clearfix"></div>
    </div>
  </div>
