<!-- unction5-step8 跟一般的index很像 差別在讓按鈕顯示的地方-->
<div class="container">
  <div class="row">

    <ul class="nav nav-pills nav-pills-center">
      <li role="presentation">
        <%= link_to "全部餐廳", root_path %>
      </li>
      <!-- 這邊判斷category==@category 讓特定按鈕變色-->
      <% @categories.each do |category| %>
        <li role="presentation" class="<%= "active" if category == @category %>">
          <%= link_to category_path(category) do %>
            <%= category.name %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <br>

    <%= render partial: "shared/partial" %>

  </div>
</div>
<!-- function5完成 開始做comment功能 看db:comments -->